<div class="parent-container">
  <div class="child-container">
    <h2><b> We would love to help you...!! For any information, Please find the Contact Information below. </b></h2>
    <br>
    <form>
      <div class="form-group"><br>
        <label>Name: Himaja Joginipally</label><br><br>
        <label>Address : 5047 Wyandotte st</label><br>
        <label>Kansas City, MO 64112</label><br><br>
        <label>Email id: hjyqb@umsystem.edu</label><br><br>
        <label>Contact No. +1 (999)-999 9999</label><br><br>
      </div>
    </form>
  </div>
</div>
