* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1
{
    padding: 40px;
    color: black;
    text-align: center;
    background-color: beige;
    font-family: Tahoma;
}

body {
    background-color: powderblue;
}

.scores
{
    border: 2px solid black;
    color: black;
    width: 300px;
    padding: 5px 5px;
    margin: 20px auto;
    text-align: center;
    font-family: Tahoma;
    position: relative;
}

.generator{

    padding: 5px 5px;
    background: darkolivegreen;
    color: black;
    font-size: initial;

}

.result{

    color: black;
    text-align: center;
    font-family: Tahoma;
    font-size: 40px;

}

.options{
    margin: 50px ;
    text-align: center;
}

.option{
    display: inline-block;
    margin: 0px 60px;
    padding: 0px;
}

.option:hover{
    cursor: pointer;
    background: darkgreen;
}
p {
    text-align: center;
    font-size: 25px;
    color: black;
    font-family: Tahoma;
}