#color1 {
    height: 50px;
    width: 50px;
    background-color: #bcbbbb;
}

#color2 {
    height: 50px;
    width: 50px;
    background-color: #747704;
}
.media-body
{
    font-family: Calibri;
    color: darkblue;

}
.container-fluid
{
    font-family: Calibri;
}
